@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

@layer components {
  .app-container {
    margin: 0 auto;
    width: 92%;
    max-width: 1200px;
  }
  /* Custom gradient borders */
  .app-border-gradient {
    @apply grid place-items-center bg-gradient-to-r from-app-orange via-app-sky to-app-orange p-[1px];
  }
  .app-border-gradient > * {
    @apply w-full h-full bg-app-black;
  }
  .app-border-gradient-rounded-sm {
    @apply grid place-items-center bg-gradient-to-r from-app-orange via-app-sky to-app-orange rounded-sm p-[1px];
  }
  .app-border-gradient-rounded-sm > * {
    @apply w-full h-full rounded-sm bg-app-black;
  }
  .app-border-gradient-rounded-md {
    @apply grid place-items-center bg-gradient-to-r from-app-orange via-app-sky to-app-orange rounded-md p-[1px];
  }
  .app-border-gradient-rounded-md > * {
    @apply w-full h-full rounded-md bg-app-black;
  }
  .app-border-gradient-rounded-lg {
    @apply grid place-items-center bg-gradient-to-r from-app-orange via-app-sky to-app-orange rounded-lg p-[1px];
  }
  .app-border-gradient-rounded-lg > * {
    @apply w-full h-full rounded-lg bg-app-black;
  }
}

.star {
  width: 1.25rem;
  height: 1.1875rem;
  clip-path: polygon(
    50% 0%,
    65% 33%,
    98% 40%,
    75% 65%,
    80% 100%,
    50% 82%,
    20% 100%,
    25% 65%,
    2% 40%,
    35% 33%
  );
}
.star .star {
  width: 0.75rem;
  height: 0.7125rem;
  clip-path: polygon(
    50% 0%,
    65% 33%,
    98% 40%,
    75% 65%,
    80% 100%,
    50% 82%,
    20% 100%,
    25% 65%,
    2% 40%,
    35% 33%
  );
}

.star-half {
  clip-path: polygon(0 0, 50% 0%, 50% 100%, 0 100%);
  width: fit-content;
}

#swiper {
  margin-left: -1rem;
  margin-right: -1rem;
  overflow-x: hidden;
}
